blessings==1.6
decorator==4.0.6
ecdsa==0.13
ethtool==0.11
iwlib==1.2
netifaces==0.10.4
paramiko==1.16.0
pbr==1.10.0
pycrypto==2.6.1
pygobject==3.20.1
rpm-python==4.13.0rc1
scservices==0.111.4
scservices.dbus==0.111.4
six==1.10.0
slip==0.6.4
slip.dbus==0.6.4
slip.gtk==0.6.4
stevedore==1.17.0
virtualenv==15.0.3
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.1
